	/*----------------------------*/	
	/* STRUCTURES				*/
	/*-------------------------*/
		/*----------------------------*/
		/* CUSTOMS 				*/
			
			body{
				font-family: Arial, Helvetica, sans-serif;
				color:#555;
				text-shadow:0 1px 0 #fff;
			}
			
		/*----------------------------*/	
		/** MAIN CONTAINER			*/
			.container {
				background:url(../img/bg.gif) repeat;
				width:950px;
				min-height:600px;
				position:relative;
				overflow:hidden;
			}
			
			/*----------------------------*/
			/* LOGO 					*/
				.header a.logo {
					display:block;
					padding:8px 0 0 20px;	
				}
			/*----------------------------*/
			/* STEPS */
				.page_icons {
					display:block;
					position:absolute;
					right:20px;	
					top:50px;
				}
				
				.page_icons p {
					display:block;
					float:left;
					font-size:24px;
					color:#555;
					padding:13px 15px 0 0;
				}
				
				.page_icons p span { 
					font-weight:bold;
					font-size:28px;
				}
		/*----------------------------*/
		/* NAV AND ARROW BUTTONS	 */
			.nav { 	
				position:absolute;
				right:20px;
				width:50px;
				bottom:0;
			}
			
			.nav a 	{
				background:url(../img/nav_buttons.jpg) no-repeat;
				margin:20px;
				cursor:pointer;
				display:block; 
				width:50px;
				height:47px;
				margin:0;
				padding:0;
				clear:both;
				text-indent:-5000px;
				overflow:hidden;
			}
			
			.nav a.right {
				background-position:0 -47px;
			}
			.nav a.right2 {
				background-position:0 -47px;
			}
		/*----------------------------*/	
		
		
	
	
	.holder {
		width:493px;
		height:355px;
		position:absolute;
		top:140px;
		left:-800px;
		overflow:hidden;
		margin:0;
		padding:0;
		display:block;
		background:url(../img/holder_bg.png) no-repeat;
	}
	
	.holder ul, .holder li {
		list-style:none;
		margin:0;
		padding:0;	
	}
 	.holder ul {
		display:block;
		position: relative;
		width: 487px;
		height: 331px;
		display: block;
		margin-top: 12px;
		overflow:hidden;
	}
	.holder li {
		display:none;
		opacity:0;
		filter:alpha(opacity=0); /* For IE8 and earlier */
		position:absolute;
		margin-top:400px;	
	}
	
	.holder li {
		width:auto;
		height:auto;	
	}
	
	/*** contents ***/
		.contents_holder {
			width:350px;
			height:375px;
			position:absolute;
			top:180px;
			left:530px;
			overflow:hidden;
			margin:0;
			padding:0 0 0 20px;
			display:block;
		}
		.contents_holder ul, .contents_holder li {
			margin:0;
			padding:0;
			list-style:none;
		}
		.contents_holder u {
			display:block;
			position:relative;
			width:350px;
			height:355px;	
		}
		.contents_holder li {
			width:350px;
			display:none;
			opacity:0;
			filter:alpha(opacity=0); /* For IE8 and earlier */
			position:absolute;
			margin-left:100px;
		}
		
		.contents_holder li ul {
			width:370px;
			display:block;
			overflow:auto;
			margin-bottom:10px;
		}
		.contents_holder li li {
			width:370px;
			display:block !important;
			position:relative !important;
			opacity:1;
			filter:alpha(opacity=100); /* For IE8 and earlier */
			margin:0 !important;
			clear:both;
			margin:0 0 20px 0;
		}
		
